header {
    width: 100vw;
    height: 10vh;
}

nav {
    width: 90%;
    height: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: space-between;
    flex-direction: column;
}

h1 {
    padding-bottom: 10px;
    font-size: 40px;
    font-family: 'Lucida Sans';
}

.dp1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-top: 10px;
}

.li0 {
    padding-bottom: 10px;
}

.li1 {
    font-weight: bold;
}

.li2 {
    color: red;
}

.df1 {
    width: 350px;
    height: 100px;
    padding: 10px;
}

.df1 ul{
    display: inline;
}

.tit1 {
    padding-left: 50px;
}

li {
    display: inline;
}

p {
    display: inline;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.cgl {
    color: rgb(216, 216, 216);
}

.lin {
    font-weight: bold;
}


.secd {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.lib {
    display: inline;
    font-size: small;
}
